.widgets__brands {
  /* width: 100%; */
  /* min-height: 100px; */

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  
  flex-shrink: 1;
  /* flex-basis: auto; */

  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}