.select__item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  padding: 8px 18px;
  cursor: pointer;
  transition: color .3s;
  padding-right: 16px;
}

.select__item:hover {
  color: #00aa4b;
}